.container {
    text-align: center;
}

.row {
    display: center;
    margin: auto;
    width: 800px;
}

.col-12-col-md-6 {
    float: left;
}

.form-group {
    margin: 30px;
    display: block;
}

button {
    width: 100px;
}

label {
    display: block;
    font-size: large;
}

.form-control {
    width: 950px;
}

.form-control:hover {
    border-color: black;
}

.form-contact:hover {
    border-color: black;
}

h1 {
    text-align: center;
}

iframe {
    display: flex;
}

.col-12 {
    width: 1000px;
    margin: auto;
    text-align: center;
    border: solid black 3px;
    background-color: lightgray;
}